---
openapi: 3.0.0
info:
  title: Dispute
  description: Dispute API enable users to manage dispute cases.
  version: 1.6.5
servers:
- url: https://card.api.fiservapps.com/cs/dispute
  description: Production url
- url: https://card-sandbox.api.fiservapps.com/cs/dispute
  description: Sandbox url
security:
- BearerAuth: []
tags:
- name: Details
- name: Update
- name: Create
paths:
  /v1/cases/{caseId}:
    get:
      tags:
      - Details
      x-child-product-name: Dispute v1.6.5
      x-group-name: Details
      x-proxy-name: Get Case Details
      summary: Returns dispute case details for a given caseId. 'caseId' will be unique, regardless of number of transactions involved in a given case. 'caseItemId' will be unique to a single transaction in a given case.
      operationId: getCaseDetails
      parameters:
      - name: Authorization
        in: header
        description: 'Retrieve an access token through the Access Token API. Access token is required in every request. Refer to documentation on access token  (https://card.developer.fiserv.com/apis/token).Tokens expire after 15 minutes. Provide the value as follows in the header. Authorization: Bearer <Access Token Value>'
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: Bearer USlfM8dilzKZPcuGGP3BfVLd7Snk
      - name: userId
        in: header
        description: Optional. User on behalf of whom the request is being made. userId must be alphanumeric.
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: johndoe
      - name: x-fapi-financial-id
        in: header
        description: Required. Provide 8 digit client ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "12345678"
      - name: caseId
        in: path
        description: Dispute Case ID.
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 12
          pattern: '[0-9]{1,12}'
          type: string
        example: "999999999"
      responses:
        "200":
          description: OK
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseSearchByCaseIdResponse'
        "400":
          description: Invalid Request
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
        "401":
          description: Unauthorized access
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
        "403":
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
        "404":
          description: Not Found
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
        "405":
          description: Method Not Allowed
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "406":
          description: Unacceptable
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "415":
          description: Unsupported Media Type
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/415Error'
        "422":
          description: Unprocessable Entity
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "429":
          description: Too Many Requests
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "500":
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                type: object
                example:
                  errorResponse:
                    code: 500-01
                    message: internal server error
                    developerInfo:
                      developerMessage: internal server error
                      moreInfo: There was a problem handling your request. Please try again. If the problem persists please contact Support
                      messageid: 25557-84290371-1
    delete:
      tags:
      - Update
      x-child-product-name: Dispute v1.6.5
      x-group-name: Update
      x-proxy-name: Cancel CaseId
      summary: Cancels dispute case.
      operationId: cancelCaseId
      parameters:
      - name: Authorization
        in: header
        description: 'Retrieve an access token through the Access Token API. Access token is required in every request. Refer to documentation on access token  (https://card.developer.fiserv.com/apis/token).Tokens expire after 15 minutes. Provide the value as follows in the header. Authorization: Bearer <Access Token Value>'
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: Bearer USlfM8dilzKZPcuGGP3BfVLd7Snk
      - name: userId
        in: header
        description: Optional. User on behalf of whom the request is being made. userId must be alphanumeric.
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: johndoe
      - name: x-fapi-financial-id
        in: header
        description: Required. Provide 8 digit client ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "12345678"
      - name: caseId
        in: path
        description: Dispute Case ID.
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 12
          pattern: '[0-9]{1,12}'
          type: string
        example: "999999999"
      responses:
        "204":
          description: Successful
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "400":
          description: Invalid Request
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
        "401":
          description: Unauthorized access
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
        "403":
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
        "404":
          description: Not Found
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
        "405":
          description: Method Not Allowed
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "406":
          description: Unacceptable
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "415":
          description: Unsupported Media Type
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/415Error'
        "422":
          description: Unprocessable Entity
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "429":
          description: Too Many Requests
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "500":
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
  /v1/cases/{caseId}/caseItems:
    delete:
      tags:
      - Update
      x-child-product-name: Dispute v1.6.5
      x-group-name: Update
      x-proxy-name: Cancel Case Items
      summary: Cancels dispute case Items.
      operationId: cancelCaseItems
      parameters:
      - name: Authorization
        in: header
        description: 'Retrieve an access token through the Access Token API. Access token is required in every request. Refer to documentation on access token  (https://card.developer.fiserv.com/apis/token).Tokens expire after 15 minutes. Provide the value as follows in the header. Authorization: Bearer <Access Token Value>'
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: Bearer USlfM8dilzKZPcuGGP3BfVLd7Snk
      - name: userId
        in: header
        description: Optional. User on behalf of whom the request is being made. userId must be alphanumeric.
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: johndoe
      - name: x-fapi-financial-id
        in: header
        description: Required. Provide 8 digit client ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "12345678"
      - name: caseId
        in: path
        description: Dispute Case ID.
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 12
          pattern: '[0-9]{1,12}'
          type: string
        example: "999999999"
      - name: caseItemId
        in: query
        description: Case Item number
        required: true
        style: form
        explode: true
        schema:
          maxLength: 12
          pattern: '[0-9]{1,12}'
          type: array
          items:
            type: string
        example: '[999999999,999999998]'
      responses:
        "204":
          description: Successful
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "206":
          description: Partial success response
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelCaseItemResponse'
        "400":
          description: Invalid Request
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
        "401":
          description: Unauthorized access
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
        "403":
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
        "404":
          description: Not Found
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
        "405":
          description: Method Not Allowed
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "406":
          description: Unacceptable
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "415":
          description: Unsupported Media Type
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/415Error'
        "422":
          description: Unprocessable Entity
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "429":
          description: Too Many Requests
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "500":
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
  /v1/cases/searchByCard:
    post:
      tags:
      - Details
      x-child-product-name: Dispute v1.6.5
      x-group-name: Details
      x-proxy-name: Get Case Details By Card
      summary: Returns dispute case details for a given card number. 'caseId' will be unique, regardless of number of transactions involved in a given case. 'caseItemId' will be unique to a single transaction in a given case.
      operationId: getCaseDetailsByCard
      parameters:
      - name: Authorization
        in: header
        description: 'Retrieve an access token through the Access Token API. Access token is required in every request. Refer to documentation on access token  (https://card.developer.fiserv.com/apis/token).Tokens expire after 15 minutes. Provide the value as follows in the header. Authorization: Bearer <Access Token Value>'
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: Bearer USlfM8dilzKZPcuGGP3BfVLd7Snk
      - name: userId
        in: header
        description: Optional. User on behalf of whom the request is being made. userId must be alphanumeric.
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: johndoe
      - name: x-fapi-financial-id
        in: header
        description: Required. Provide 8 digit client ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "12345678"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseSearchByCardRequest'
      responses:
        "200":
          description: OK
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseSearchByCardResponse'
        "400":
          description: Invalid Request
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
        "401":
          description: Unauthorized access
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
        "403":
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
        "404":
          description: Not Found
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
        "405":
          description: Method Not Allowed
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "406":
          description: Unacceptable
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "415":
          description: Unsupported Media Type
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/415Error'
        "422":
          description: Unprocessable Entity
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "429":
          description: Too Many Requests
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "500":
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                type: object
                example:
                  errorResponse:
                    code: 500-01
                    message: internal server error
                    developerInfo:
                      developerMessage: internal server error
                      moreInfo: There was a problem handling your request. Please try again. If the problem persists please contact Support
                      messageid: 25557-84290371-1
  /v1/cases/{caseId}/caseItems/{caseItemId}:
    get:
      tags:
      - Details
      x-child-product-name: Dispute v1.6.5
      x-group-name: Details
      x-proxy-name: Get Dispute Case Item Details
      summary: Returns dispute case Item details for a disputed transaction.
      operationId: getDisputeCaseItemDetails
      parameters:
      - name: Authorization
        in: header
        description: 'Retrieve an access token through the Access Token API. Access token is required in every request. Refer to documentation on access token  (https://card.developer.fiserv.com/apis/token).Tokens expire after 15 minutes. Provide the value as follows in the header. Authorization: Bearer <Access Token Value>'
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: Bearer USlfM8dilzKZPcuGGP3BfVLd7Snk
      - name: userId
        in: header
        description: Optional. User on behalf of whom the request is being made. userId must be alphanumeric.
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: johndoe
      - name: x-fapi-financial-id
        in: header
        description: Required. Provide 8 digit client ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "12345678"
      - name: caseId
        in: path
        description: Dispute Case ID.
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 12
          pattern: '[0-9]{1,12}'
          type: string
        example: "999999999"
      - name: caseItemId
        in: path
        description: Case Item ID.
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 12
          pattern: '[0-9]{1,12}'
          type: string
        example: "999999999"
      responses:
        "200":
          description: OK
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseItemDetailsResponse'
        "400":
          description: Invalid Request
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
        "401":
          description: Unauthorized access
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
        "403":
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
        "404":
          description: Not Found
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
        "405":
          description: Method Not Allowed
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "406":
          description: Unacceptable
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "415":
          description: Unsupported Media Type
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/415Error'
        "422":
          description: Unprocessable Entity
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "429":
          description: Too Many Requests
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "500":
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                type: object
                example:
                  errorResponse:
                    code: 500-01
                    message: internal server error
                    developerInfo:
                      developerMessage: internal server error
                      moreInfo: There was a problem handling your request. Please try again. If the problem persists please contact Support
                      messageid: 25557-84290371-1
  /v1/cases/{caseId}/caseItems/{caseItemId}/document:
    post:
      tags:
      - Update
      x-child-product-name: Dispute v1.6.5
      x-group-name: Update
      x-proxy-name: Case Item Doc Upload
      summary: Allows to attach a document to a dispute case. 'caseId' will be unique, regardless of number of transactions involved in a given case. 'caseItemId' will be unique to a single transaction in a given case.
      operationId: caseItemDocUpload
      parameters:
      - name: Authorization
        in: header
        description: 'Retrieve an access token through the Access Token API. Access token is required in every request. Refer to documentation on access token  (https://card.developer.fiserv.com/apis/token).Tokens expire after 15 minutes. Provide the value as follows in the header. Authorization: Bearer <Access Token Value>'
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: Bearer USlfM8dilzKZPcuGGP3BfVLd7Snk
      - name: userId
        in: header
        description: Optional. User on behalf of whom the request is being made. userId must be alphanumeric.
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: johndoe
      - name: x-fapi-financial-id
        in: header
        description: Required. Provide 8 digit client ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "12345678"
      - name: caseId
        in: path
        description: Dispute Case ID.
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 12
          pattern: '[0-9]{1,12}'
          type: string
        example: "999999999"
      - name: caseItemId
        in: path
        description: Case Item ID.
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 12
          pattern: '[0-9]{1,12}'
          type: string
        example: "999999999"
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/caseItemId_document_body'
            encoding:
              document:
                contentType: application/octet-stream
                style: form
      responses:
        "204":
          description: Successful
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "400":
          description: Invalid Request
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
        "401":
          description: Unauthorized access
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
        "403":
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
        "404":
          description: Not Found
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
        "405":
          description: Method Not Allowed
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "406":
          description: Unacceptable
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "415":
          description: Unsupported Media Type
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/415Error'
        "422":
          description: Unprocessable Entity
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "429":
          description: Too Many Requests
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "500":
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
  /v1/cases/{caseId}/caseItems/{caseItemId}/note:
    post:
      tags:
      - Update
      x-child-product-name: Dispute v1.6.5
      x-group-name: Update
      x-proxy-name: Case Item Notes Update
      summary: Update dispute case with notes.
      operationId: caseItemNotesUpdate
      parameters:
      - name: Authorization
        in: header
        description: 'Retrieve an access token through the Access Token API. Access token is required in every request. Refer to documentation on access token  (https://card.developer.fiserv.com/apis/token).Tokens expire after 15 minutes. Provide the value as follows in the header. Authorization: Bearer <Access Token Value>'
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: Bearer USlfM8dilzKZPcuGGP3BfVLd7Snk
      - name: userId
        in: header
        description: Optional. User on behalf of whom the request is being made. userId must be alphanumeric.
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: johndoe
      - name: x-fapi-financial-id
        in: header
        description: Required. Provide 8 digit client ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "12345678"
      - name: caseId
        in: path
        description: Dispute Case ID.
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 12
          pattern: '[0-9]{1,12}'
          type: string
        example: "999999999"
      - name: caseItemId
        in: path
        description: Case Item ID.
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 12
          pattern: '[0-9]{1,12}'
          type: string
        example: "999999999"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateNoteToCaseRequest'
      responses:
        "204":
          description: Successful
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "400":
          description: Invalid Request
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
        "401":
          description: Unauthorized access
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
        "403":
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
        "404":
          description: Not Found
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
        "405":
          description: Method Not Allowed
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "406":
          description: Unacceptable
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "415":
          description: Unsupported Media Type
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/415Error'
        "422":
          description: Unprocessable Entity
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "429":
          description: Too Many Requests
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "500":
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
  /v1/cases/{caseId}/caseItems/{caseItemId}/document/{docId}:
    get:
      tags:
      - Details
      x-child-product-name: Dispute v1.6.5
      x-group-name: Details
      x-proxy-name: Retrieve Case Item Document
      summary: 'Retrieves a document attached to a case item. Note: ''caseId'' will be unique, regardless of number of transactions involved in a given case. ''caseItemId'' will be unique to a single transaction in a given case. ''docId'' Document ID. is returned in Query Item Status.'
      operationId: retrieveCaseItemDocument
      parameters:
      - name: Authorization
        in: header
        description: 'Retrieve an access token through the Access Token API. Access token is required in every request. Refer to documentation on access token  (https://card.developer.fiserv.com/apis/token).Tokens expire after 15 minutes. Provide the value as follows in the header. Authorization: Bearer <Access Token Value>'
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: Bearer USlfM8dilzKZPcuGGP3BfVLd7Snk
      - name: userId
        in: header
        description: Optional. User on behalf of whom the request is being made. userId must be alphanumeric.
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: johndoe
      - name: x-fapi-financial-id
        in: header
        description: Required. Provide 8 digit client ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "12345678"
      - name: caseId
        in: path
        description: Dispute Case ID.
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 12
          pattern: '[0-9]{1,12}'
          type: string
        example: "999999999"
      - name: caseItemId
        in: path
        description: Case Item ID.
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 12
          pattern: '[0-9]{1,12}'
          type: string
        example: "999999999"
      - name: docId
        in: path
        description: Document Id
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 20
          minLength: 1
          pattern: '[0-9]{1,20}'
          type: string
        example: "987654321369"
      responses:
        "200":
          description: A PDF file
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "400":
          description: Invalid Request
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
        "401":
          description: Unauthorized access
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
        "403":
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
        "404":
          description: Not Found
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
        "405":
          description: Method Not Allowed
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "406":
          description: Unacceptable
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "415":
          description: Unsupported Media Type
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/415Error'
        "422":
          description: Unprocessable Entity
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "429":
          description: Too Many Requests
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "500":
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                type: object
                example:
                  errorResponse:
                    code: 500-01
                    message: internal server error
                    developerInfo:
                      developerMessage: internal server error
                      moreInfo: There was a problem handling your request. Please try again. If the problem persists please contact Support
                      messageid: 25557-84290371-1
  
  /v2/cases/claim:
    post:
      tags:
      - Create
      x-child-product-name: Dispute v1.6.5
      x-group-name: Create
      x-proxy-name: Create Claim V2
      summary: Creates a dispute case for given transactions of a particular card number.
      operationId: createClaimV2
      parameters:
      - name: Authorization
        in: header
        description: 'Retrieve an access token through the Access Token API. Access token is required in every request. Refer to documentation on access token  (https://card.developer.fiserv.com/apis/token).Tokens expire after 15 minutes. Provide the value as follows in the header. Authorization: Bearer <Access Token Value>'
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: Bearer USlfM8dilzKZPcuGGP3BfVLd7Snk
      - name: userId
        in: header
        description: Optional. User on behalf of whom the request is being made. userId must be alphanumeric.
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: johndoe
      - name: x-fapi-financial-id
        in: header
        description: Required. Provide 8 digit client ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "12345678"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClaimCreateV2Request'
      responses:
        "200":
          description: OK
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimCreateResponse'
        "206":
          description: Partial success response
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
            refernceId:
              $ref: '#/components/headers/referenceId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialClaimCreateResponse'
        "400":
          description: Invalid Request
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
        "401":
          description: Unauthorized access
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
        "403":
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
        "404":
          description: Not Found
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
        "405":
          description: Method Not Allowed
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "406":
          description: Unacceptable
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "415":
          description: Unsupported Media Type
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/415Error'
        "422":
          description: Unprocessable Entity
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "429":
          description: Too Many Requests
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "500":
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
  /v1/cases/{caseId}/questionnaire:
    post:
      tags:
      - Create
      x-child-product-name: Dispute v1.6.5
      x-group-name: Create
      x-proxy-name: Submit Questionnaire
      summary: Submits the questionnaire for a case item.
      operationId: getQuestionnaire
      parameters:
      - name: Authorization
        in: header
        description: 'Retrieve an access token through the Access Token API. Access token is required in every request. Refer to documentation on access token  (https://card.developer.fiserv.com/apis/token). Tokens expire after 15 minutes. Provide the value as follows in the header. Authorization: Bearer <Access Token Value>'
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: Bearer USlfM8dilzKZPcuGGP3BfVLd7Snk
      - name: userId
        in: header
        description: Optional. User on behalf of whom the request is being made. userId must be alphanumeric.
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: johndoe
      - name: x-fapi-financial-id
        in: header
        description: Required. Provide 8 digit client ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "12345678"
      - name: caseId
        in: path
        description: Dispute Case ID.
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 12
          pattern: '[0-9]{1,12}'
          type: string
        example: "999999999"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuestionnaireSubmitRequest'
      responses:
        "200":
          description: OK
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestionnaireResponse'
        "400":
          description: Invalid Request
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
        "401":
          description: Unauthorized access
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
        "403":
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
        "404":
          description: Not Found
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
        "405":
          description: Method Not Allowed
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "406":
          description: Unacceptable
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "415":
          description: Unsupported Media Type
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/415Error'
        "422":
          description: Unprocessable Entity
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "429":
          description: Too Many Requests
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "500":
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
  /v1/cases/{caseId}/finalize:
    patch:
      tags:
      - Create
      x-child-product-name: Dispute v1.6.5
      x-group-name: Create
      x-proxy-name: Finalize Case
      summary: Finalize the case intake for a case.
      operationId: finalizeCase
      parameters:
      - name: Authorization
        in: header
        description: 'Retrieve an access token through the Access Token API. Access token is required in every request. Refer to documentation on access token  (https://card.developer.fiserv.com/apis/token).Tokens expire after 15 minutes. Provide the value as follows in the header. Authorization: Bearer <Access Token Value>'
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: Bearer USlfM8dilzKZPcuGGP3BfVLd7Snk
      - name: userId
        in: header
        description: Optional. User on behalf of whom the request is being made. userId must be alphanumeric.
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: johndoe
      - name: x-fapi-financial-id
        in: header
        description: Required. Provide 8 digit client ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "12345678"
      - name: caseId
        in: path
        description: Dispute Case ID.
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 12
          pattern: '[0-9]{1,12}'
          type: string
        example: "999999999"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinalizeCaseRequest'
      responses:
        "200":
          description: OK
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinalizeCaseResponse'
        "400":
          description: Invalid Request
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
        "401":
          description: Unauthorized access
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
        "403":
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
        "404":
          description: Not Found
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
        "405":
          description: Method Not Allowed
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "406":
          description: Unacceptable
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "415":
          description: Unsupported Media Type
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/415Error'
        "422":
          description: Unprocessable Entity
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "429":
          description: Too Many Requests
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "500":
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
  /v1/cases/{caseId}/questionnaire/{caseItemId}:
    get:
      tags:
      - Details
      x-child-product-name: Dispute v1.6.5
      x-group-name: Details
      x-proxy-name: Questionnaire Answer
      summary: View the completed questionnaire answer for a case item.
      operationId: QuestionnaireAnswer
      parameters:
      - name: Authorization
        in: header
        description: 'Retrieve an access token through the Access Token API. Access token is required in every request. Refer to documentation on access token  (https://card.developer.fiserv.com/apis/token).Tokens expire after 15 minutes. Provide the value as follows in the header. Authorization: Bearer <Access Token Value>'
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: Bearer USlfM8dilzKZPcuGGP3BfVLd7Snk
      - name: userId
        in: header
        description: Optional. User on behalf of whom the request is being made. userId must be alphanumeric.
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: johndoe
      - name: x-fapi-financial-id
        in: header
        description: Required. Provide 8 digit client ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: "12345678"
      - name: caseId
        in: path
        description: Dispute Case ID.
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 12
          pattern: '[0-9]{1,12}'
          type: string
        example: "999999999"
      - name: caseItemId
        in: path
        description: Case Item ID.
        required: true
        style: simple
        explode: false
        schema:
          maxLength: 12
          pattern: '[0-9]{1,12}'
          type: string
        example: "999999999"
      responses:
        "200":
          description: OK
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestionResponse'
        "400":
          description: Invalid Request
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
        "401":
          description: Unauthorized access
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
        "403":
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
        "404":
          description: Not Found
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
        "405":
          description: Method Not Allowed
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "406":
          description: Unacceptable
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "415":
          description: Unsupported Media Type
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/415Error'
        "422":
          description: Unprocessable Entity
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "429":
          description: Too Many Requests
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
        "500":
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
components:
  schemas:
    "400Error":
      type: object
      properties:
        type:
          type: string
          description: An URI reference that identifies the problem type
          example: Input Validation Exception
        title:
          type: string
          description: Short summary of the problem.
          example: Bad Request
        detail:
          type: string
          description: Specific explanation to the occurrence of the problem.
          example: CONTENT-TYPE header required. Supported content-type is application/json
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.
          example: /api/basepath
        status:
          type: number
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
          example: 400
    "401Error":
      type: object
      properties:
        type:
          type: string
          description: An URI reference that identifies the problem type
          example: https://card.developer.fiserv.com/cards/error#unauthorized
        title:
          type: string
          description: Short summary of the problem.
          example: Unauthorized
        detail:
          type: string
          description: Specific explanation to the occurrence of the problem.
          example: Invalid Access Token
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.
          example: /api/basepath
        status:
          type: number
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
          example: 401
    "403Error":
      type: object
      properties:
        type:
          type: string
          description: An URI reference that identifies the problem type
          example: https://card.developer.fiserv.com/cards/error#forbidden
        title:
          type: string
          description: Short summary of the problem.
          example: Forbidden
        detail:
          type: string
          description: Specific explanation to the occurrence of the problem.
          example: Authorization failure
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.
          example: /api/basepath
        status:
          type: number
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
          example: 403
    "404Error":
      type: object
      properties:
        type:
          type: string
          description: An URI reference that identifies the problem type
          example: Resource does not exists
        title:
          type: string
          description: Short summary of the problem.
          example: Resource Not found
        detail:
          type: string
          description: Specific explanation to the occurrence of the problem.
          example: No matching search results found or you do not have sufficient access rights to get search results matching your criteria.
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.
          example: /api/basepath
        status:
          type: number
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
          example: 404
    "415Error":
      type: object
      properties:
        type:
          type: string
          description: An URI reference that identifies the problem type
          example: https://card.developer.fiserv.com/cards/error#unsupported-mediatype
        title:
          type: string
          description: Short summary of the problem.
          example: Unsupported Media Type
        detail:
          type: string
          description: Specific explanation to the occurrence of the problem.
          example: unsupported Media Type
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.
          example: /api/basepath
        status:
          type: number
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
          example: 415
    FinalizeCaseResponse:
      type: object
      properties:
        caseId:
          maxLength: 12
          pattern: '[0-9]{1,12}'
          type: string
          description: Dispute case ID.
          example: "999999999"
        referenceId:
          type: string
          description: A means to uniquely identify this request.
          example: LEANBANK:2LBXJVPFT
        caseItemDetails:
          type: array
          items:
            $ref: '#/components/schemas/FinalizeCaseItemDetails'
    FinalizeCaseItemDetails:
      type: object
      properties:
        caseItemId:
          pattern: '[0-9]{1,12}'
          type: string
          description: Case item ID.
          example: "999999999"
        caseItemStatus:
          type: string
          description: The status of the case item.
          example: QUEUED
          enum:
          - PENDING
          - QUEUED
          - CLOSED
        caseItemStateCodeDescription:
          type: string
          description: The sub-status of the case item which depicts if the questionnaire is in draft or completed or awaiting a review.
          example: QUESTIONNAIRE_COMPLETE
          enum:
          - QUESTIONNAIRE_COMPLETE
          - DRAFT_CASE
          - NEW_CASE_AWAITING_REVIEW
    FinalizeCaseRequest:
      required:
      - caseItemIds
      type: object
      properties:
        caseItemIds:
          type: array
          items:
            maxLength: 12
            type: string
            description: Case item ID associated with a case ID.
            example: "999999999"
    QuestionnaireResponse:
      type: object
      properties:
        caseId:
          maxLength: 12
          pattern: '[0-9]{1,12}'
          type: string
          description: Dispute case ID.
          example: "999999999"
        referenceId:
          type: string
          description: A means to uniquely identify this request.
          example: LEANBANK:2LBXJVPFT
        caseItemDetails:
          type: array
          items:
            $ref: '#/components/schemas/QuestionnaireCaseItemDetails'
    QuestionnaireCaseItemDetails:
      properties:
        caseItemType:
          type: string
          description: The type of case that has been submitted.
          example: DISPUTE
          enum:
          - DISPUTE
          - FRAUD
        caseItemId:
          pattern: '[0-9]{1,12}'
          type: string
          description: Case item ID.
          example: "999999999"
        caseItemStatus:
          type: string
          description: The status of the case item.
          example: QUEUED
          enum:
          - PENDING
          - QUEUED
        caseItemStateCodeDescription:
          type: string
          description: The sub-status of the case item which depicts if the questionnaire is completed.
          example: QUESTIONNAIRE_COMPLETE
        reasonCode:
          type: string
          description: Internal reason Code for the Dispute Possible reason codes
          example: "112"
        reasonCodeDescription:
          type: string
          description: |-
            The description of the reason code. Possible Codes and Description as below <br />
            Codes  Description <br /> 100   Fraud <br /> 101   Deposit not posted <br /> 102   Deposit posted for incorrect amount <br /> 103   No cash received <br /> 104   Insufficient cash received <br /> 105   Charged more than once <br /> 106   Good faith <br /> 107   Copy request <br /> 108   Paid by other means <br /> 109   Service not received <br /> 110   Service cancelled <br /> 111   Service not as described <br /> 112   Merchandise not as described <br /> 113   Counterfeit card not present <br /> 114   Lost <br /> 115   Stolen <br /> 116   Counterfeit card present <br /> 117   Card not received as issued <br /> 118   Fraudulent application <br /> 119   Account takeover <br /> 120   Counterfeit card <br /> 121   No authorization <br /> 122   Declined authorization <br /> 123   Late presentment greater than 180 days <br /> 124   Late presentment credit problem <br /> 125   Late presentment account closed fraud <br /> 126   Late presentment account closed not fraud <br /> 137   Charged incorrect amount <br /> 139   Merchandise not received <br /> 140   Merchandise cancelled <br /> 141   Adjustment <br /> 142   Deposit keying error <br /> 143   Deposit missing or empty envelope <br /> 144   Deposited item returned - NSF <br /> 145   Deposited item returned - Stop payment <br /> 146   Deposited item returned - Account closed <br /> 147   Deposited item returned - No account <br /> 148   Other <br />
          example: MERCHANDISE NOT AS DESCRIBED
    QuestionnaireSubmitRequest:
      required:
      - caseItemIds
      - questionnaire
      type: object
      properties:
        caseItemIds:
          type: array
          items:
            pattern: '[0-9]{1,12}'
            type: string
            description: Case item ID associated with a case ID.
            example: "999999999"
        questionnaire:
          type: array
          items:
            $ref: '#/components/schemas/Questionnaire'
    Questionnaire:
      required:
      - questionName
      - questionValue
      type: object
      properties:
        questionName:
          type: string
          description: |-
            The unique question name corresponding to the question from the query questionnaire documentation. List of QuestionsNames and their description and values are as below <br />
            - QuestVar_CaseItem.Unauth_Participation <br /> (Did you participate in the transaction?) <br /> <b>Answer</b>-  Yes/No <br />
            - QuestVar_CaseItem.SelectATMWDL_DSReason <br /> (Select reason for dispute) <br /> Answer-  A/B <br /> A. Charged more than once. <br /> B. Received incorrect amount of cash <br />
            - QuestVar_CaseItem.SelectATMDSReason <br /> (Select reason for dispute) <br /> Answer-  A/B <br /> A. ATM deposit did not post to account (manually entered transaction) <br /> B. Incorrect credit received for ATM deposit <br />
            - QuestVar_CaseItem.Cash_or_Checks_Returned <br /> (Were any checks or cash returned to you?) <br /> Answer-  Yes/No <br />
            - QuestVar_CaseItem.AmountReturned <br /> (What was the total dollar amount of items returned to you?) <br /> Answer-  String (1.00) <br />
            - QuestVar_CaseItem.TotalAmountofDispute <br /> (What is the dollar amount of your dispute?) <br /> Answer- String (1.00) <br />
            - QuestVar_CaseItem.AdditionalInformation <br /> (Is there any additional information you would like to provide?) <br /> Answer- Yes/Nop <br />
            - QuestVar_CaseItem.GeneralComments <br /> (Enter additional information) <br /> Answer- String (MinLength-1, MaxLength-2147483647) <br />
            - QuestVar_CaseItem.OralNotification <br /> (Change date of Oral Notification?) <br /> Answer- Yes/No <br />
            - QuestVar_CaseItem.OralNotificationDate <br /> (Oral Notification Date) <br /> Answer- Date (MM/DD/YYYY) <br />
            - QuestVar_CaseItem.CardLostStolen <br />  (Is your card lost or stolen?) <br /> Answer- Yes/No <br />
            - QuestVar_CaseItem.LostOrStolen <br /> (Choose one (lost or stolen)) <br /> Answer- A/B <br /> A. Lost <br /> B. Stolen <br />
            - QuestVar_CaseItem.WhoUsedCard <br /> (Do you know who may have used your card for this transaction?) <br /> Answer- Yes/No <br />
            - QuestVar_CaseItem.Unauth_AuthorizedUsers <br /> (Record Name) <br /> Answer- String ( Record name of the person)(MinLength-1, MaxLength-2147483647) <br />
            - QuestVar_CaseItem.CardUsePermission <br /> (Did you give that person permission to use your card?) <br /> Answer- Yes/No <br />
            - QuestVar_CaseItem.PINConsent <br /> (Did you give that person your PIN?) <br /> Answer- Yes/No <br />
            - QuestVar_CaseItem.MultipleWDL_Chrgs <br /> (How many times was your account charged for the same withdrawal?) <br /> Answer- String (1.00) <br />
            - QuestVar_CaseItem.ATM_ReceiveAmount <br /> (Amount of cash received (indicate 0.00 if no cash was received)) <br /> Answer- String (1.00) <br />
            - QuestVar_CaseItem.DisputeCategory <br /> (Why are you disputing this transaction?) <br /> Answer- A/B/C/D <br /> A. Cancellation of merchandise or service (Free Trial) <br /> B. Merchandise or service not received <br /> C. Dissatisfied with merchandise or service <br /> D. Charged incorrectly, satisfied with and received merchandise or service <br />
            - QuestVar_CaseItem.ID_DisputePortion <br /> (How much of the transaction amount are you disputing?) <br /> Answer- String (1.00) <br />
            - QuestVar_CaseItem.ID_PartialDSAmount <br /> (Enter partial amount) <br /> Answer- String (1.00) <br />
            - QuestVar_CaseItem.Merchnds_Or_Service <br /> (Is this merchandise or a service) <br /> Answer- A/B <br /> A. Merchandise <br /> B. Service <br />
            - QuestVar_CaseItem.Auth_CancelReason <br /> (Why did you cancel the merchandise) <br /> Answer- String ( reason for Cancellation)(MinLength-1, MaxLength-300) <br />
            - QuestVar_CaseItem.Auth_CancelDate <br /> (On what date did you cancel the merchandise?  Prompt for a guess.) <br /> Answer- Date (MM/DD/YYYY) <br />
            - QuestVar_CaseItem.MerchandiseRec <br /> (Did you receive the merchandise?) <br /> Answer- Yes/No <br />
            - QuestVar_CaseItem.CancelledPriorToShip <br /> (Did you cancel the merchandise prior to the ship d)ate?) <br /> Answer- Yes/No <br />
            - QuestVar_CaseItem.Return_Attempt <br /> (Why didn’t you return the merchandise?) <br /> Answer- A/B/C <br /> A.Merchant would not accept a return B.Merchant refused to provide a return authorization C.Merchant informed the cardholder not to return the merchandise
            - QuestVar_CaseItem.Auth_CancelReason <br /> (Why did you cancel the service?) <br /> Answer- String (Reason of return of service)(MinLength-1, MaxLength-300) <br />
            - QuestVar_CaseItem.Auth_CancelDate <br /> (On what date did you cancel the service? Prompt for a guess.) <br /> Answer- Date (MM/DD/YYYY) <br />
            - QuestVar_CaseItem.ServiceReceived <br /> (Did you receive the service?) <br /> Answer- Yes/No <br />
            - QuestVar_CaseItem.DisputePortion <br /> (How much of the transaction amount are you disputing?) <br /> Answer- String (1.00) <br />
            - QuestVar_CaseItem.PartialDSAmount <br /> (Enter dispute amount) <br /> Answer- String (1.00) <br />
            - QuestVar_CaseItem.PartialDSReason <br /> (Why are you not disputing the full amount?) <br /> Answer- String ( reason of not disputing full amount)(MinLength-1, MaxLength-300) <br />
            - QuestVar_CaseItem.MerchContactAttemptMer <br /> (Did you attempt to contact the merchant to resolve the issue?) <br /> Answer- Yes/No <br />
            - QuestVar_CaseItem.CaptureMerchResp <br /> (Capture merchant response and method of communication)(MinLength-1, MaxLength-300) <br /> Answer- String <br />
            - QuestVar_CaseItem.MerchantAttemptResolveDate <br /> (Date of the attempt to resolve) <br /> Answer- Date (MM/DD/YYYY) <br />
            - QuestVar_CaseItem.SelectDisputeDetails <br /> (Were you charged more than once?) <br /> Answer- A/B <br /> A. Yes, the cardholder was charged more than once <br /> B. No, the cardholder was charged an incorrect amount <br />
            - QuestVar_CaseItem.ChargesOnSameCard <br /> (Are all of the charges on this card?) <br /> Answer- Yes/No <br />
            - QuestVar_CaseItem.HotelRentalCarChrg <br /> (Is this charge related to a hotel or car rental?) <br /> Answer- Yes/No <br />
            - QuestVar_CaseItem.FinalBill <br /> (Was this charge included on your final bill?) <)br /> Answer- Yes/No <br />
            - QuestVar_CaseItem.ChargeDescription <br /> (Do you know what the charge is for?) <br /> Answer- Yes/No <br />
            - QuestVar_CaseItem.Auth_MerchantDesc <br /> (Capture response) <br /> Answer- String(MinLength-1, MaxLength-2147483647) <br />
            - QuestVar_CaseItem.DateValidCharge <br /> (What is the date of the first charge) <br /> Answer- Date (MM/DD/YYYY) <br />
            - QuestVar_CaseItem.AmountofValidCharge <br /> (What is the amount of the first charge?) <br /> Answer- String (1.00) <br />
            - QuestVar_CaseItem.PaymentMethods <br /> (What was the other payment method?) <br /> Answer- A/B/C/D <br /> A. Check <br /> B. Other card payment <br /> C. Cash <br /> D. Other <br />
            - QuestVar_CaseItem.CheckCopy <br /> (Do you have a copy of the check used or the bank statement for the checking account?) <br /> Answer- Yes/No <br />
            - QuestVar_CaseItem.StatementReeipt <br /> (Do you have the receipt or bank statement for the other card used?) <br /> Answer- Yes/No <br />
            - QuestVar_CaseItem.CashReceipt <br /> (Do you have the receipt for the cash payment?) <br /> Answer- Yes/No <br />
            - QuestVar_CaseItem.PaymentMethodDescription <br /> (Describe) <br /> Answer- String(MinLength-1, MaxLength-300) <br />
            - QuestVar_CaseItem.OtherProof <br /> (Do you have any documentation of this payment method?) <br /> Answer- Yes/No <br />
            - Questvar_CaseItem.DisputeReason <br /> (Why are you dissatisfied with the merchandise? (Ask for specifics- color, brand, size, how the item is damaged, how it is defective, etc.)) <br /> Answer- String (MinLength-1, MaxLength-2147483647) <br />
            - QuestVar_CaseItem.Merchantdisetype <br /> (I)s the merchandise digital? (Software, iTunes or Google play apps, music, movies, etc.)) <br /> Answer- Yes/No <br />
            - QuestVar_CaseItem.MerchandiseReturned <br /> (Did you return the merchandise?) <br /> Answer- Yes/No <br />
            - QuestVar_CaseItem.Return_Methods <br /> (How was the merchandise returned?) <br /> Answer- A or B or C or D or E <br /> A. In person <br /> B. FeEx <br /> C. USPS <br /> D. UPS <br /> E. Other <br />
            - QuestVar_CaseItem.Return_MethodDescription <br />  (Describe) <br /> Answer- String (MinLength-1, MaxLength-300) <br />
            - QuestVar_CaseItem.Auth_MerchandiseDateReturned <br /> (On what date was the merchandise returned? Prompt for a guess). <br /> Answer- Date (MM/DD/YYYY) <br />
            - Questvar_CaseItem.DisputeReasonService <br /> (Why are you dissatisfied with the service? (Please be as detailed as possible.)) <br /> Answer- String (MinLength-1, MaxLength-300) <br />
            - QuestVar_CaseItem.RecurringCharge <br />  (Is this a recurring charge?) <br /> Answer- Yes/No <br />
            - QuestVar_CaseItem.ServiceCancelled <br /> (Did you attempt to cancel the service?) <br /> Answer- Yes/No <br />
            - QuestVar_CaseItem.Auth_CancelDate <br />  (On what date did you cancel the service? Prompt for a guess).<br /> Answer- Date (MM/DD/YYYY) <br />
            - QuestVar_CaseItem.ExpectedMerchRecDate <br /> (On what date did you expect to receive the merchandise? Prompt for a guess.)<br /> Answer- Date (MM/DD/YYYY) <br />
            - QuestVar_CaseItem.Auth_DeliverDate <br /> (On what date did you expect to receive the service? Prompt for a guess.) <br /> Answer- Date (MM/DD/YYYY) <br />
          example: QuestVar_CaseItem.Unauth_Participation
        questionValue:
          type: string
          description: The value provided as the answer to the question.
          example: "Yes"
    QuestionResponse:
      type: object
      properties:
        caseItemId:
          pattern: '[0-9]{1,12}'
          type: string
          description: Case item ID associated with a case ID.
          example: "999999999"
        referenceId:
          type: string
          description: A means to uniquely identify this request.
          example: LEANBANK:2LBXJVPFT
        questions:
          type: array
          items:
            $ref: '#/components/schemas/QuestionnaireAnswer'
    QuestionnaireAnswer:
      type: object
      properties:
        questionName:
          type: string
          description: The unique question name corresponding to the question from the query questionnaire documentation.
          example: QuestVar_CaseItem.Unauth_Participation
        questionValue:
          type: string
          description: The value provided as the answer to the question.
          example: "Yes"
        questionDescription:
          type: string
          description: Description of the question.
          example: Did you participate in the transaction?
    
    ClaimCreateV2Request:
      required:
      - cardNumber
      - errorBehaviour
      - issuerOrAcquirer
      - listOfTransactions
      type: object
      properties:
        cardNumber:
          maxLength: 19
          minLength: 16
          type: string
          description: 16-19 digit Card Number.
          example: "4000200030004000"
        errorBehaviour:
          type: string
          description: Indicates the way of handling errors with individual transactions.
          example: ABORT_ON_FIRST_NO_ROLLBACK
          default: PROCESS_ALL_NO_ROLLBACK
          enum:
          - ABORT_ON_FIRST_NO_ROLLBACK
          - ABORT_ON_FIRST_ROLLBACK
          - PROCESS_ALL_NO_ROLLBACK
          - PROCESS_ALL_ROLLBACK
        issuerOrAcquirer:
          type: string
          description: Issuer or Acquirer. The default value is issuer.
          example: Issuer
        caseId:
          maxLength: 12
          pattern: '[0-9]{1,12}'
          type: string
          description: Dispute Case Id. If specified, the new items are attached to this case.
          example: "999999999"
        listOfTransactions:
          type: array
          items:
            $ref: '#/components/schemas/TransactionDetailsV2'
    ClaimCreateResponse:
      type: object
      properties:
        caseId:
          maxLength: 12
          type: string
          description: Dispute case ID. If specified, the new items are attached to this case.
          example: "999999999"
        referenceId:
          type: string
          description: A means to uniquely identify this request.
          example: LEANBANK:2LBXJVPFT
        caseItemIds:
          type: array
          items:
            maxLength: 12
            type: string
            description: Case item ID associated with the case ID.
            example: "999999999"
    PartialClaimCreateResponse:
      type: object
      properties:
        caseId:
          maxLength: 12
          type: string
          description: Dispute case ID. If specified, the new items are attached to this case.
          example: "999999999"
        caseItemIds:
          type: array
          items:
            maxLength: 12
            type: string
            description: Case item ID associated with the case ID.
            example: "999999999"
        warningInfo:
          $ref: '#/components/schemas/Warning'
    
    TransactionDetailsV2:
      required:
      - transactionId
      type: object
      properties:
        transactionId:
          type: string
          description: Unique system id for the record. It is made from lifecycle key, active key, and duID. Applies to debit cards only.
          example: '{"lifeCycleKey":"12323301232312331","activeKey":"0210","duID":"11348539120200526"}'
    Adjustments:
      type: object
      properties:
        id:
          type: string
          description: Internal identifier of the adjustment.
          example: "55748"
        type:
          type: string
          description: Configurable value but list of values commonly includes 'AD' for adjustment, 'CB' for chargeback, 'RP' for representment, 'AR' for arbitration, 'GF' for good faith or 'CP' for compliance
          example: CB
        typeDesc:
          type: string
          description: Description for adjustment type.
          example: chargeback
        intExtType:
          type: string
          description: '''I'' for internal financial, ''E'' for network request, ''A'' for network attached'
          example: I
        amount:
          type: string
          description: Amount of adjustment
          example: "20.00"
        comment:
          type: string
          description: User comment
          example: Credit Cardholder-Disputed Transaction
        status:
          type: string
          description: String describing status of the adjustment
          example: Done
        debitCreditIndicator:
          type: string
          description: '''D'' for Debit or ''C'' for Credit'
          example: C
    CancelCaseItemResponse:
      type: object
      properties:
        warningInfo:
          $ref: '#/components/schemas/Warning'
    Cases:
      type: object
      properties:
        caseId:
          maxLength: 12
          type: string
          description: Dispute Case ID
          example: "999999999"
        role:
          type: string
          description: '''A'' for Acquirer, ''I'' for Issuer or ''H'' for In-house. '
          example: I
        roleDesc:
          type: string
          description: A description for the role.
          example: Issuer
        caseItems:
          type: array
          items:
            $ref: '#/components/schemas/CaseItems'
    CaseItems:
      type: object
      properties:
        caseItemId:
          maxLength: 12
          type: string
          description: Case Item number
          example: "999999999"
        accountNumber:
          type: string
          description: Masked Account Number. If the length of the value is more than 11 digits, everything except first 6 and last 4 digits are masked. If the length is less than 11 digits, everything will be masked
          example: 123456XXX7789
        type:
          type: string
          description: '''DS'' for Dispute, ''FR'' for Fraud.'
          example: DS
        typeDesc:
          type: string
          description: Type description
          example: Dispute
        status:
          type: string
          description: '''Pending'', ''Open'' or ''Closed'' or ''Queued'''
          example: Closed
        createdDateTime:
          type: string
          description: Case opened/created date in GMT format.
          example: 2021-07-20T07:00:00Z
        closedDateTime:
          type: string
          description: Case closed date in GMT format.
          example: 2021-07-20T07:00:00Z
        claimAmount:
          type: string
          description: Amount claimed
          example: "200.50"
        claimCurrency:
          type: string
          description: Currency type of claim
          example: US Dollar (USD)
        reasonCode:
          type: string
          description: Internal reason Code for the Dispute
          example: "112"
        reasonCodeDescription:
          type: string
          description: The description of the reason code.
          example: Merchandise not as described
        currentStep:
          type: integer
          description: Value of current step
          format: int32
          example: 999
        issuerFiId:
          type: string
          description: Issuer Financial Institution identifier
          example: "12345678"
        acquirerFiId:
          type: string
          description: Acquirer Financial Institution identifier
          example: "87654321"
        acquirerRefNum:
          type: string
          description: Acquirer reference number which is assigned by the network based on information provided by the acquirer.
          example: "14515501298011980119806"
        sequence:
          type: string
          description: 6-digit transaction sequence
          example: "121980"
        transactionDate:
          type: string
          description: Transaction Date
          example: 1990-08-24
        transactionAmount:
          type: string
          description: Original transaction Amount
          example: "200.50"
        transactionCurrency:
          type: string
          description: Currency type of transaction amount
          example: US Dollar (USD)
        network:
          type: string
          description: Network Name, indicate Visa(VISA),  Mastercard (MC) etc
          example: VISA
        authorizationCode:
          type: string
          description: Authorization Code
          example: "628934"
        terminalId:
          type: string
          description: Terminal ID
          example: VMDIEOS1
        terminalName:
          type: string
          description: Terminal (Merchant) Name
          example: Home Supply
        stateCode:
          type: string
          description: Case current state code
          example: "299"
        stateCodeDesc:
          type: string
          description: Case current state code description
          example: Case Closed
        completionCode:
          type: string
          description: Case completion or close  code
          example: "390"
        completionCodeDesc:
          type: string
          description: Case completion or close code description
          example: Closed - Claim resolved via RDR
    CaseItemDetailsResponse:
      type: object
      properties:
        transactionDescription:
          type: string
          description: Description of the transaction
          example: Transaction Description
        imageCount:
          type: string
          description: The number of images attached to this item
          example: "1"
        referenceId:
          type: string
          description: A means to uniquely identify this request.
          example: LEANBANK:2LBXJVPFT
        adjustments:
          type: array
          items:
            $ref: '#/components/schemas/Adjustments'
        history:
          type: array
          items:
            $ref: '#/components/schemas/History'
        forms:
          type: array
          items:
            $ref: '#/components/schemas/Forms'
        networkReasonCode:
          type: string
          description: Network Reason Code
          example: "115"
    CaseSearchByCardRequest:
      required:
      - cardNumber
      - createFromDate
      - createToDate
      type: object
      properties:
        cardNumber:
          maxLength: 19
          minLength: 16
          type: string
          description: 16-19 digit Card Number.
          example: "4000200030004000"
        createFromDate:
          type: string
          description: Case create From date. From date cannot be after the To date
          format: date
          example: 1990-08-24
        createToDate:
          type: string
          description: Case create To date. To date cannot be after the current date
          format: date
          example: 1990-08-24
        claimAmountMin:
          type: number
          description: Minimum claim amount to search. Number up to 2 decimal digits precision allowed.
          format: decimal
          example: 25.05
        claimAmountMax:
          type: number
          description: Maximum claim amount to search which allows up to 2 decimal digits
          format: decimal
          example: 80.5
        dispositionIndicator:
          type: string
          description: Indicate if you want to get the RESOLVED, UNRESOLVED or ALL the dispute cases
          example: UNRESOLVED
          default: ALL
          enum:
          - RESOLVED
          - UNRESOLVED
          - ALL
    CaseSearchByCardResponse:
      type: object
      properties:
        cardNumber:
          type: string
          description: Masked Card Number
          example: 400020XXXXXX4000
        referenceId:
          type: string
          description: A means to uniquely identify this request.
          example: LEANBANK:2LBXJVPFT
        cases:
          type: array
          items:
            $ref: '#/components/schemas/Cases'
    CaseSearchByCaseIdResponse:
      type: object
      properties:
        caseId:
          maxLength: 12
          type: string
          description: Dispute Case ID
          example: "999999999"
        cardNumber:
          type: string
          description: Masked Card Number
          example: 400020XXXXXX4000
        role:
          type: string
          description: '''A'' for Acquirer, ''I'' for Issuer or ''H'' for In-house.'
          example: I
        roleDesc:
          type: string
          description: A description for the role.
          example: Issuer
        referenceId:
          type: string
          description: A means to uniquely identify this request.
          example: LEANBANK:2LBXJVPFT
        caseItems:
          type: array
          items:
            $ref: '#/components/schemas/CaseItems'
    Forms:
      type: object
      properties:
        id:
          type: string
          description: The document ID. This can be used to retrieve the image
          example: "12473205"
        name:
          type: string
          description: A displayable string describing the nature of the form.
          example: FRM_Dispute_accepted_and_PC_Given
        sourceFileName:
          type: string
          description: Name of the source file
          example: sourceFile.pdf
        createdDateTime:
          type: string
          description: The Date and Time on when the form has been created in GMT format
          format: date-time
          example: 2021-07-20T07:00:00Z
    History:
      type: object
      properties:
        dateTime:
          type: string
          description: Date and Time of when the event occurred in GMT format.
          format: date-time
          example: 2021-07-20T07:00:00Z
        stepName:
          type: string
          description: Short name of the step to which the event applies
          example: EN
        description:
          type: string
          description: A longer string describing the event. This will include user notes and may be quite long.
          example: 'johndoe (Public): Item# 123456789:  200.05 04/21/220.   223 - PC credit issued'
    UpdateNoteToCaseRequest:
      required:
      - notes
      type: object
      properties:
        notes:
          type: string
          description: Notes to be added for case item ID. A notes can take only upto 500 chars, if the notes  is more than 500 chars, it will add as separate notes after every 500 chars.
          example: Test
    Warning:
      type: object
      properties:
        message:
          type: string
          description: An explanation specific to this occurrence of the problem.
          example: The request is either in draft state or does not belong to the case ID or transaction ID
        warningDetails:
          type: array
          description: List of multiple errors that may cause/trigger the general error.
          items:
            $ref: '#/components/schemas/WarningDetail'
    WarningDetail:
      type: object
      properties:
        code:
          type: string
          description: Unique code for error [artifact ID] - [code of the error(logic, action, etc)].
          example: "321"
        detail:
          type: string
          description: Details of the error.
          example: The request is either in draft state or does not belong to the case ID or transaction ID.
        timestamp:
          type: string
          description: Date time of the error from a services.
          example: 2023-01-09T13:40:43.087Z
    caseItemId_document_body:
      required:
      - document
      type: object
      properties:
        document:
          type: string
          description: Select a file that needs to be uploaded. Maximum size supported is 5 MB
          format: binary
        fileName:
          type: string
          description: Name of file with correct extension. Files supported are tif, pdf, tiff, jpg and jpeg. For example, If a pdf is being uploaded then make sure to provide an extension as pdf only. For now, png format is not supported.
          example: Test.pdf
  parameters:
    userIdParam:
      name: userId
      in: header
      description: Optional. User on behalf of whom the request is being made. userId must be alphanumeric.
      required: false
      style: simple
      explode: false
      schema:
        type: string
      example: johndoe
    caseItemIdQueryParam:
      name: caseItemId
      in: query
      description: Case Item number
      required: true
      style: form
      explode: true
      schema:
        maxLength: 12
        pattern: '[0-9]{1,12}'
        type: array
        items:
          type: string
      example: '[999999999,999999998]'
    authorizationParam:
      name: Authorization
      in: header
      description: 'Retrieve an access token through the Access Token API. Access token is required in every request. Refer to documentation on access token  (https://card.developer.fiserv.com/apis/token).Tokens expire after 15 minutes. Provide the value as follows in the header. Authorization: Bearer <Access Token Value>'
      required: true
      style: simple
      explode: false
      schema:
        type: string
      example: Bearer USlfM8dilzKZPcuGGP3BfVLd7Snk
    clientIdParam:
      name: x-fapi-financial-id
      in: header
      description: Required. Provide 8 digit client ID.
      required: true
      style: simple
      explode: false
      schema:
        type: string
      example: "12345678"
    caseIdParam:
      name: caseId
      in: path
      description: Dispute Case ID.
      required: true
      style: simple
      explode: false
      schema:
        maxLength: 12
        pattern: '[0-9]{1,12}'
        type: string
      example: "999999999"
    caseItemIdParam:
      name: caseItemId
      in: path
      description: Case Item ID.
      required: true
      style: simple
      explode: false
      schema:
        maxLength: 12
        pattern: '[0-9]{1,12}'
        type: string
      example: "999999999"
    docIdParam:
      name: docId
      in: path
      description: Document Id
      required: true
      style: simple
      explode: false
      schema:
        maxLength: 20
        minLength: 1
        pattern: '[0-9]{1,20}'
        type: string
      example: "987654321369"
  headers:
    interactionId:
      description: unique transaction ID created for each request for tracking purposes
      style: simple
      explode: false
      schema:
        type: string
        example: 95ad42fb-afd1-2121-b794-3ed29342ks42
    referenceId:
      description: unique reference ID created for each request for tracking purposes
      style: simple
      explode: false
      schema:
        type: string
        example: LEANBANK:2LBXJVPFT
  securitySchemes:
    BearerAuth:
      type: http
      description: Enter 'Bearer ' followed by the access token.
      scheme: bearer
