---
openapi: 3.0.0
info:
  title: Rewards
  description: uChoose Rewards API. This API provides functionality to clients for searching, viewing, consuming uChoose Offers and Points.
  version: 1.0.0
servers:
- url: https://card.api.fiservapps.com/cs/rewards
  description: Production url 
- url: https://card-sandbox.api.fiservapps.com/cs/rewards
  description: Sandbox url
security:
- BearerAuth: []
tags:
- name: View Offer
  description: Provides ability to search and activate in-store offers for loyalty members.
paths:
  /clientwebhookurl:
    post:
      tags:
      - Card Address 
      x-child-product-name: Card Address v1.0.0
      x-group-name: Schema
      x-proxy-name: Card Address Schema
      summary: Retrieve the details of a specific offer based on its unique ID.
      operationId: offerDetail
      parameters:
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferDetailResponse'
components:
  schemas:
    Category:
      type: object
      properties:
        categoryId:
          type: string
          description: The offer category unique identifier.
          example: "38460"
        categoryDescription:
          type: string
          description: The description of the category.
          example: Kids & Toys
    OfferSearchResponse:
      type: object
      properties:
        offerSearchParameters:
          $ref: '#/components/schemas/OfferSearchResponse_offerSearchParameters'
    OfferDetailRequest:
      required:
      - accountNumber
      - cardNumber
      type: object
      properties:
        cardNumber:
          maxLength: 19
          minLength: 16
          type: string
          description: Card number of primary cardholder.
          format: numeric
          example: "4000200030004000"
        accountNumber:
          type: string
          description: Account identifier of the cardholder.
          example: "123456789"
    OfferDetailResponse:
      required:
      - cardNumber
      - memberNumber
      type: object
      properties:
        header:
          type: object
          properties:
            id:
              type: string
              description: >-
                Generic identifier that contains no sensitive data and represents a
                unique value for the event being presented
            eventTitle:
              type: string
              description: Indicates the title of event
            eventType:
              type: string
              description: Indicates the type of event
            eventCode:
              type: string
              description: ''
            operationType:
              type: string
              description: Indicates the type of change
            eventDateTime:
              type: string
              description: Date/time when change occured
            eventVersion:
              type: string
              description: Version of the event (starts at "1.0.")
            source:
              type: string
              description: >-
                The source to add/update the card record Values :  1 = External API,2
                = Card Console,3 = Card Hub,4 = ECHO,5 = Test API,6 = Domain
                Services,A = Admin (not currently used),B = Batch Processing,C =
                CWSi,D = CM2 Conversion or Kit,E = CM2 Remote Card Maintenance,F = CM2
                FHM (ISO or HISO),F = FUN server,G = CM2 Conversion (Internal RCM),H =
                Card Alert Tracking,I = Integrated Desktop,J = Case Tracker
                (reserved),k = HOT requestor,L= PIN activation server,M = Pin By Phone
                (Unix),N = RuleManager,O = Reissue (Tandem),P = Reissue (Unix),Q =
                AlertBroker Gateway,R = Refresh,V = VRU,U  = Unknown
              enum:
                - '1'
                - '2'
                - '3'
                - '4'
                - '5'
                - '6'
                - A
                - B
                - C
                - D
                - E
                - F
                - G
                - H
                - I
                - J
                - K
                - L
                - M
                - 'N'
                - O
                - P
                - Q
                - R
                - V
                - U
        data:
          type: object
          properties:
            financialInstitutionId:
              type: string
              description: Financial institution identifier - FIID
            cardNumber:
              type: string
              description: Decrypted/masted card number
            nonTransToken:
              type: string
              description: NTT card number provided
            memberNumber:
              type: string
              description: Unique number associated with each member of the card
              format: ' 1 digit; depending on card prefix, values include 0 (zero) or 1–9'
            old:
              type: object
              properties:
                primaryAddress:
                  type: object
                  properties:
                    addressLine1:
                      type: string
                      description: First line of the cardholder's address.
                    addressLine2:
                      type: string
                      description: Second line of the cardholder's address.
                    city:
                      type: string
                      description: City of the cardholder's address.
                    state:
                      type: string
                      description: State code of the cardholder's address.
                      format: Format - 2 characters
                      example: NJ
                    country:
                      type: string
                      description: Country associated with the cardholder's address.
                    zip:
                      type: string
                      description: >-
                        Postal code of the cardholder's address. Format - 5-digit
                        (NNNNN) or 9-digit (NNNNN-NNNN) code for U.S.
                      example: 30004 or 30004-0895
                alternateAddress:
                  type: object
                  properties:
                    addressLine1:
                      type: string
                      description: ' First line of the cardholder''s alternate address.'
                    addressLine2:
                      type: string
                      description: Second line of the cardholder's alternate address.
                    city:
                      type: string
                      description: City of the cardholder's alternate address.
                    state:
                      type: string
                      description: State code of the cardholder's alternate address.
                      format: Format - 2 characters
                      example: NJ
                    country:
                      type: string
                      description: Country associated with the cardholder's alternate address.
                    zip:
                      type: string
                      description: >-
                        Postal code of the cardholder's alternate address. Format -
                        5-digit (NNNNN) or 9-digit (NNNNN-NNNN) code for U.S.
                      example: 30004 or 30004-0895
            new:
              type: object
              properties:
                primaryAddress:
                  type: object
                  properties:
                    addressLine1:
                      type: string
                      description: First line of the cardholder's address.
                    addressLine2:
                      type: string
                      description: Second line of the cardholder's address.
                    city:
                      type: string
                      description: City of the cardholder's address.
                    state:
                      type: string
                      description: State code of the cardholder's address.
                      format: Format - 2 characters
                      example: NJ
                    country:
                      type: string
                      description: Country associated with the cardholder's alternate address.
                    zip:
                      type: string
                      description: >-
                        Postal code of the cardholder's alternate address. Format -
                        5-digit (NNNNN) or 9-digit (NNNNN-NNNN) code for U.S.
                      example: 30004 or 30004-0895
                alternateAddress:
                  type: object
                  properties:
                    addressLine1:
                      type: string
                      description: ' First line of the cardholder''s alternate address.'
                    addressLine2:
                      type: string
                      description: Second line of the cardholder's alternate address.
                    city:
                      type: string
                      description: City of the cardholder's alternate address.
                    state:
                      type: string
                      description: State code of the cardholder's alternate address.
                      format: Format - 2 characters
                      example: NJ
                    country:
                      type: string
                      description: Country associated with the cardholder's alternate address.
                    zip:
                      type: string
                      description: >-
                        Postal code of the cardholder's alternate address. Format -
                        5-digit (NNNNN) or 9-digit (NNNNN-NNNN) code for U.S.
                      example: 30004 or 30004-0895
    Offers:
      type: object
      properties:
        offerId:
          type: string
          description: The unique offer identifier that is retrieved from offerSearch.
          example: "103557"
        merchantPartnerName:
          type: string
          description: The merchant partner name in the content management system.
          example: LEGO
        merchantLogoFileNameUrl:
          type: string
          description: The merchant logo filename URL.
          example: https://uchooserewards.com/data/images/lego_90x50_4.2.08.gif
        merchantPartnerId:
          type: string
          description: The unique merchant partner ID.
        offerTermsAndConditions:
          type: string
          description: The offer terms and conditions.
          example: 'Offer expires 2015-03-31.'
        merchantOfferExternalUrl:
          type: string
          description: The offer URL on the merchant's website.
          example: http://click.linksynergy.com/fs-bin/click?id=E7Il34ja9WM&offerid=115554.10000195&type=3&subid=0&u1=26XXdKrlo26
        offerValueDescription:
          type: string
          description: A short description of the offer value. Usually empty if offerDescription is populated.
          example: ""
        categories:
          type: array
          description: The list of categories to which the current offer is related.
          items:
            $ref: '#/components/schemas/Category'
        offerExpirationDate:
          type: string
          description: The offer expiration date in UTC format.
          example: "20220923"
        requiresActivation:
          type: boolean
          description: Indicates if offers requires activation from member.
          example: false
          default: false
        offerValue:
          type: string
          description: Numeric value of the offer.
          example: "2"
        activated:
          type: boolean
          description: Indicates if the current loyalty member has activated the offer.
          example: true
          default: false
        shopType:
          type: array
          items:
            type: string
            description: Shopping type for offer.
            example: IN_STORE
            default: IN_STORE
            enum:
            - ONLINE
            - IN_STORE
            - BOTH
        offerDescription:
          type: string
          description: A short description of the offer value.
          example: Earn 2% Cash back at LEGO.
        shortMerchantOffer:
          type: string
          description: The merchant offer amount. This is the shortest offer text version that should go with the merchant logo on the offers list view.
          example: 2% Cash back
        merchantOfferDescription:
          type: string
          description: A friendly version of the merchant offer description that includes the merchant name.
          example: Earn 2% Cash back at LEGO.
        locationCount:
          type: string
          description: Number of in-store locations where the offer is available.
          example: "10"
        partnerId:
          type: string
          description: Unique identifier of merchant partner owning offer.
          example: "2537"
        alphaIndex:
          type: string
          description: The first character of the merchant name.
          example: l
        spend:
          type: string
          description: The average dollar amount spend for the merchant offer during the last month. Offers with higher spend values are deemed trending or most popular.
          example: ""
        clickTrend:
          type: string
          description: The average click rate for the merchant offer during the last three months. Offers with higher click trends could be deemed trending or most popular.
          example: ""
        fundingCategory:
          type: string
          description: The campaign funding category that applies to the offers.
          example: FEATURED
          default: NONE
          enum:
          - NONE
          - FEATURED
          - SELECT
          - SPOTLIGHT
        bonusEarned:
          type: boolean
          description: Indicates if the loyaly member has earned the bonus on the offer.
          example: false
        stores:
          type: array
          items:
            $ref: '#/components/schemas/Stores'
    Stores:
      type: object
      properties:
        storesId:
          type: string
          description: The unique store identifier.
          example: "232232"
        name:
          type: string
          description: Name of the store.
          example: Bed Bath & Beyond
        locationName:
          type: string
          description: Location of the store.
          example: Mira Loma
        address:
          type: string
          description: Address of the store.
          example: 6365 Pats Ranch Road
        city:
          type: string
          description: City in which the store is located.
          example: Mira Loma
        state:
          type: string
          description: The state details of the store.
          example: CA
        zip:
          type: string
          description: The zipcode of the store.
          example: "91752"
        longtitude:
          type: string
          description: Longtitude in which the store is located.
          example: "-117.54465999999999"
        latitude:
          type: string
          description: Latitude in which the store is located.
          example: "33.972551000000003"
        phone:
          type: string
          description: Phone number of the store.
          example: "7568142562"
        venueId:
          type: string
          description: Unique venue identifier.
          example: ""
        notes:
          type: string
          example: Next to shoprite.
        distance:
          type: string
          example: "0.0"
    OfferSearchResponse_offerSearchParameters:
      type: object
      properties:
        radius:
          type: integer
          description: Radius value in miles within which in-store offers to be searched.
          example: 50
          default: 25
        offerRecordsPerPage:
          type: string
          description: The number of offers to be returned per single API call.
          example: "15"
          default: "25"
        totalPages:
          type: string
          description: The number of pages to be returned per single API call
          example: "10"
        pageCount:
          type: string
          description: Page count per offer API response.
          example: "1"
          default: "1"
        groupBy:
          type: string
          description: The number of offer records returned per a single API call. Useful for pagination purposes.
          example: "1"
          default: "25"
        sort:
          type: string
          description: Fields on which offer response can be sorted.The sort can be done only one at a time.
          example: NONE
          default: NONE
          enum:
          - NONE
          - RANK
          - MERCHANT_PARTNER_NAME
          - OFFER
          - SHOP_TYPE
          - OFFER_EXPIRATION_DATE
          - DATE_CREATED
          - CAMPAIGN_START_TIME
          - SPEND
          - CLICK_TREND
        sortOrder:
          type: string
          description: The sorting direction.
          example: ASC
          default: DESC
          enum:
          - ASC
          - DESC
        geoFilter:
          type: boolean
          description: Indicates if geo filtering (physical location) applied.
          example: true
          default: true
        offers:
          type: array
          items:
            $ref: '#/components/schemas/Offers'
  parameters:
    userIdParam:
      name: userId
      in: header
      description: User who is making this request. This is optional, if passed will be used for granular level auditing.
      required: false
      style: simple
      explode: false
      schema:
        type: string
      example: FDSCARD
    authorizationParam:
      name: Authorization
      in: header
      description: 'Retrieve an access token through the Access Token API. Access token is required in every request. Refer to documentation on access token  (https://card.developer.fiserv.com/apis/token).Tokens expire after 15 minutes. Provide the value as follows in the header. Authorization: Bearer <Access Token Value>'
      required: true
      style: simple
      explode: false
      schema:
        type: string
      example: Bearer USlfM8dilzKZPcuGGP3BfVLd7Snk
    clientIdParam:
      name: x-fapi-financial-id
      in: header
      description: Required. Provide 8 digit integer client id
      required: true
      style: simple
      explode: false
      schema:
        type: string
      example: "12345678"
  headers:
    interactionId:
      description: unique transaction ID created for each request for tracking purposes
      style: simple
      explode: false
      schema:
        type: string
        example: 95ad42fb-afd1-2121-b794-3ed29342ks42
  securitySchemes:
    BearerAuth:
      type: http
      description: Enter 'Bearer ' followed by the access token.
      scheme: bearer
