---
openapi: 3.0.0
info:
  title: Rewards
  description: uChoose Rewards API. This API provides functionality to clients for searching, viewing, consuming uChoose Offers and Points.
  version: 1.0.0
servers:
- url: https://card.api.fiservapps.com/cs/rewards
  description: Production url 
- url: https://card-sandbox.api.fiservapps.com/cs/rewards
  description: Sandbox url
security:
- BearerAuth: []
tags:
- name: View Offer
  description: Provides ability to search and activate in-store offers for loyalty members.
paths:
  /clientwebhookurl:
    get:
      tags:
      - Card Address 
      x-child-product-name: Card Address v1.0.0
      x-group-name: Schema
      x-proxy-name: Card Address Schema
      summary: Retrieve the details of a specific offer based on its unique ID.
      operationId: offerDetail
      responses:
        "cardaddress":
          description: Webhook Card Address Schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferDetailResponse'
components:
  schemas:
    OfferDetailResponse:
      required:
      - cardNumber
      - memberNumber
      type: object
      properties:
        header:
          type: object
          properties:
            id:
              type: string
              description: >-
                Generic identifier that contains no sensitive data and represents a
                unique value for the event being presented
            eventTitle:
              type: string
              description: Indicates the title of event
            eventType:
              type: string
              description: Indicates the type of event
            eventCode:
              type: string
              description: ''
            operationType:
              type: string
              description: Indicates the type of change
            eventDateTime:
              type: string
              description: Date/time when change occured
            eventVersion:
              type: string
              description: Version of the event (starts at "1.0.")
            source:
              type: string
              description: >-
                The source to add/update the card record Values :  1 = External API,2
                = Card Console,3 = Card Hub,4 = ECHO,5 = Test API,6 = Domain
                Services,A = Admin (not currently used),B = Batch Processing,C =
                CWSi,D = CM2 Conversion or Kit,E = CM2 Remote Card Maintenance,F = CM2
                FHM (ISO or HISO),F = FUN server,G = CM2 Conversion (Internal RCM),H =
                Card Alert Tracking,I = Integrated Desktop,J = Case Tracker
                (reserved),k = HOT requestor,L= PIN activation server,M = Pin By Phone
                (Unix),N = RuleManager,O = Reissue (Tandem),P = Reissue (Unix),Q =
                AlertBroker Gateway,R = Refresh,V = VRU,U  = Unknown
              enum:
                - '1'
                - '2'
                - '3'
                - '4'
                - '5'
                - '6'
                - A
                - B
                - C
                - D
                - E
                - F
                - G
                - H
                - I
                - J
                - K
                - L
                - M
                - 'N'
                - O
                - P
                - Q
                - R
                - V
                - U
        data:
          type: object
          properties:
            financialInstitutionId:
              type: string
              description: Financial institution identifier - FIID
            cardNumber:
              type: string
              description: Decrypted/masted card number
            nonTransToken:
              type: string
              description: NTT card number provided
            memberNumber:
              type: string
              description: Unique number associated with each member of the card
              format: ' 1 digit; depending on card prefix, values include 0 (zero) or 1–9'
            old:
              type: object
              properties:
                primaryAddress:
                  type: object
                  properties:
                    addressLine1:
                      type: string
                      description: First line of the cardholder's address.
                    addressLine2:
                      type: string
                      description: Second line of the cardholder's address.
                    city:
                      type: string
                      description: City of the cardholder's address.
                    state:
                      type: string
                      description: State code of the cardholder's address.
                      format: Format - 2 characters
                      example: NJ
                    country:
                      type: string
                      description: Country associated with the cardholder's address.
                    zip:
                      type: string
                      description: >-
                        Postal code of the cardholder's address. Format - 5-digit
                        (NNNNN) or 9-digit (NNNNN-NNNN) code for U.S.
                      example: 30004 or 30004-0895
                alternateAddress:
                  type: object
                  properties:
                    addressLine1:
                      type: string
                      description: ' First line of the cardholder''s alternate address.'
                    addressLine2:
                      type: string
                      description: Second line of the cardholder's alternate address.
                    city:
                      type: string
                      description: City of the cardholder's alternate address.
                    state:
                      type: string
                      description: State code of the cardholder's alternate address.
                      format: Format - 2 characters
                      example: NJ
                    country:
                      type: string
                      description: Country associated with the cardholder's alternate address.
                    zip:
                      type: string
                      description: >-
                        Postal code of the cardholder's alternate address. Format -
                        5-digit (NNNNN) or 9-digit (NNNNN-NNNN) code for U.S.
                      example: 30004 or 30004-0895
            new:
              type: object
              properties:
                primaryAddress:
                  type: object
                  properties:
                    addressLine1:
                      type: string
                      description: First line of the cardholder's address.
                    addressLine2:
                      type: string
                      description: Second line of the cardholder's address.
                    city:
                      type: string
                      description: City of the cardholder's address.
                    state:
                      type: string
                      description: State code of the cardholder's address.
                      format: Format - 2 characters
                      example: NJ
                    country:
                      type: string
                      description: Country associated with the cardholder's alternate address.
                    zip:
                      type: string
                      description: >-
                        Postal code of the cardholder's alternate address. Format -
                        5-digit (NNNNN) or 9-digit (NNNNN-NNNN) code for U.S.
                      example: 30004 or 30004-0895
                alternateAddress:
                  type: object
                  properties:
                    addressLine1:
                      type: string
                      description: ' First line of the cardholder''s alternate address.'
                    addressLine2:
                      type: string
                      description: Second line of the cardholder's alternate address.
                    city:
                      type: string
                      description: City of the cardholder's alternate address.
                    state:
                      type: string
                      description: State code of the cardholder's alternate address.
                      format: Format - 2 characters
                      example: NJ
                    country:
                      type: string
                      description: Country associated with the cardholder's alternate address.
                    zip:
                      type: string
                      description: >-
                        Postal code of the cardholder's alternate address. Format -
                        5-digit (NNNNN) or 9-digit (NNNNN-NNNN) code for U.S.
                      example: 30004 or 30004-0895
    
